.burger-btn {
    display: flex;
    align-items: center;
    width: 40px;
    height: 30px;
    z-index: 3;
}

/* underline */

/* .nav  a:after {
	display: block;
	position: absolute;
	right: 0; 
	width: 0;
	height: 2px;
	background-color: white;
	content: "";
	transition: width 0.3s ease-out;
}

.nav  a:hover:after,
a:focus:after {
	width: 100%;
} */

/* underline */


.nav {
    position: fixed;
    right: -100%;
    top: 0;  
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
    font-size: 30px;
    transition: .6s ease-in-out;
    text-align: center;
}
.nav li a {
    font-weight: 300;
    transition: .6s;
}

.nav li {
    transition: 0.4s;
}

.nav li:hover {
    scale: 1.1;
}

.burger-btn span {
    height: 3px;
    width: 100%;
    background-color: rgba(187, 137, 84, 1);
    position: relative;
}

.burger-btn span::before,
.burger-btn span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(187, 137, 84, 1);
    transition: .3s;
}

.burger-btn span::before{
    top: -13px;
}

.burger-btn span::after {
    top: 13px;
}

/* //////////////////////// */

.show-burger-btn span::before,
.show-burger-btn span::after {
    top: 0;
    bottom: 0;
    margin: auto;
}

.show-burger-btn span::before {
    rotate: 45deg;
}
.show-burger-btn span::after{
    rotate: -45deg;
}

.show-burger-btn span {
    background: transparent;
}

/* /////////////////////////////// */


.backdrop__burger {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}

.show-backdrop {
    opacity: 1;
    visibility: visible;
}   

.show-nav {
    right: 0;
}