#contacts {
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../swiper-1-img/wallpaperbetter.jpg');
}

svg path {
fill:inherit;
stroke:inherit;
stroke-width:inherit;
}

.box-contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
}

.box-contacts iframe {
    box-shadow: 0 0 100px 10px wheat;
}

.text-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 20px;
    text-shadow: 0 0 10px wheat;
}

#location-svg,
#telephone-svg,
#whatsapp-svg,
#telegram-svg {
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

#telephone-svg:hover {
    fill: grey;
}
#whatsapp-svg:hover{
    fill: green;
}
#telegram-svg:hover {
    fill: lightseagreen;
}
#location-svg:hover {
    fill: darkred;
}
.wrap-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 30px;
    letter-spacing: 5px;
    text-shadow: 0 0 10px wheat;
}

